
        </main>
        <footer>
            <% let dateOfYear = new Date().getFullYear() %>
            <p>Copyright © <%= dateOfYear %> by Sebastian Bräutigam</p>
        </footer>
    </body>
</html>