<%- include('partials/header.ejs') %>

    
        <form action="/searchweather" method="post">
            <input type="text" name="q" placeholder="City" id="searchfield">
        </form>

    <% if (locals.content) { %>
        <article>
            <h2> <%= content.name %> </h2>
            <h2> <%= content.main.temp %> °C </h2>
        </article>
    <% } %>
        


<%- include('partials/footer.ejs') %>