<%- include('partials/header.ejs') %>

    <article>
        <form action="/searchweather" method="post">
            <input type="text" name="q" placeholder="City" id="searchfield">
        </form>
    </article>


<%- include('partials/footer.ejs') %>